{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/about/charts.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.6.1"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[\n    {\n        \"active_users\": 2758,\n        \"charges\": 11685.49,\n        \"date\": \"2014-04-24\",\n        \"total_gifts\": 457551.97,\n        \"total_users\": 29015,\n        \"weekly_gifts\": 13120.14,\n        \"withdrawals\": 6614.89\n    },\n    {\n        \"active_users\": 2718,\n        \"charges\": 10625.45,\n        \"date\": \"2014-04-17\",\n        \"total_gifts\": 444431.83,\n        \"total_users\": 28650,\n        \"weekly_gifts\": 12399.97,\n        \"withdrawals\": 6951.54\n    },\n    {\n        \"active_users\": 2723,\n        \"charges\": 11079.68,\n        \"date\": \"2014-04-10\",\n        \"total_gifts\": 432031.86,\n        \"total_users\": 28379,\n        \"weekly_gifts\": 12770.78,\n        \"wi[...]
