{"http_interactions":[{"request":{"method":"get","uri":"https://www.gittip.com/gratitude_test/public.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"], "X-Gittip-Version":["10.1.20"]},"body":{"encoding":"UTF-8","string":"{\n    \"avatar\": \"https://abs.twimg.com/sticky/default_profile_images/default_profile_3.png\",\n    \"elsewhere\": {\n        \"bitbucket\": null,\n        \"bountysource\": null,\n        \"github\": null,\n        \"twitter\": \"https://api.twitter.com/1.1/users/show.json?id=1865385980&include_entities=1\"\n    },\n    \"giving\": \"0.00\",\n    \"goal\": null,\n    \"id\": 196181,\n    \"number\": \"singular\",\n    \"receiving\": \"0.00\",\n    \"username\": \"gratitude_test\"\n}"},"http_version":null},"recorded_at":"Sat, 14 Sep 2013 23:38:19 GMT"},{"request":{"method":"get","uri":"https://www.gittip.com/whit537/public.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Language":["en"], "Content-Type":["application/json"], "X-Gittip-Version":["12.2.2"]},"body":{"encoding":"UTF-8","string":"{\n    \"avatar\": \"https://www.gravatar.com/avatar/fb054b407a6461e417ee6b6ae084da37?s=128\",\n    \"bitcoin\": \"http://blockchain.info/address/1HMaJmtuvbWh6fsY8VG6xeVjoJdEHQgJsd\",\n    \"elsewhere\": {\n        \"bountysource\": {\n            \"id\": 121635,\n            \"user_id\": \"17349\",\n            \"user_name\": \"whit537\"\n        },\n        \"github\": {\n            \"id\": 1,\n            \"user_id\": \"134455\",\n            \"user_name\": \"whit537\"\n        },\n        \"twitter\": {\n            \"id\": 27243,\n            \"user_id\": \"34175404\",\n            \"user_name\": \"whit537\"\n        }\n    },\n    \"giving\": \"106.41\",\n    \"goal\": null,\n    \"id\": 1451,\n    \"npatrons\": 189,\n    \"number\": \"singular\",\n    \"on\": \"gittip\",\n    \"receiving\": \"472.25\",\n    \"username\": \"whit537\"\n}"},"http_version":null},"recorded_at":"Sat, 29 Mar 2014 23:16:54 GMT"}],"recorded_with":"VCR 2.9.0"}