{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/gratitude_test/public.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.2.2"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"avatar\": \"https://abs.twimg.com/sticky/default_profile_images/default_profile_3.png\",\n    \"elsewhere\": {\n        \"twitter\": {\n            \"id\": 256293,\n            \"user_id\": \"1865385980\",\n            \"user_name\": \"gratitude_test\"\n        }\n    },\n    \"giving\": \"10.00\",\n    \"id\": 196181,\n    \"npatrons\": 0,\n    \"number\": \"singular\",\n    \"on\": \"gittip\",\n    \"receiving\": \"0.00\",\n    \"username\": \"gratitude_test\"\n}"
        },
      },
      "recorded_at": "Sat, 29 Mar 2014 22:53:06 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.0"
}