{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/gratitude_test/public.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "10.1.20"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"avatar\": \"https://abs.twimg.com/sticky/default_profile_images/default_profile_3.png\",\n    \"elsewhere\": {\n        \"bitbucket\": null,\n        \"bountysource\": null,\n        \"github\": null,\n        \"twitter\": \"https://api.twitter.com/1.1/users/show.json?id=1865385980&include_entities=1\"\n    },\n    \"giving\": \"0.00\",\n    \"id\": 196181,\n    \"number\": \"singular\",\n    \"receiving\": \"0.00\",\n    \"username\": \"gratitude_test\"\n}"
        },
      },
      "recorded_at": "Sun, 15 Sep 2013 00:01:28 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}