{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/about/paydays.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "10.1.20"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[\n    {\n        \"ach_fees_volume\": 0.00,\n        \"ach_volume\": -2246.96,\n        \"charge_fees_volume\": 216.09,\n        \"charge_volume\": 4583.22,\n        \"nachs\": 53,\n        \"nactive\": 1719,\n        \"ncc_failing\": 178,\n        \"ncc_missing\": 1222,\n        \"ncharges\": 276,\n        \"nparticipants\": 19567,\n        \"ntippers\": 1105,\n        \"ntransfers\": 3309,\n        \"transfer_volume\": 5464.38,\n        \"ts_end\": \"2013-09-12T14:01:41.848587+00:00\",\n        \"ts_start\": \"2013-09-12T12:36:52.967371+00:00\"\n    },\n    {\n        \"ach_fees_volume\": 0.00,\n        \"ach_volume\": -2176.68,\n        \"charge_fees_volume\": 225.87,\n        \"charge_volume\": 4972.77,\n        \"nachs\": 46,\n        \"nactive\": 1709,\n        \"ncc_failing\": 179,\n        \"ncc_missing\": 1225,\n        \"ncharges\": 271,\n        \"nparticipants\": 19224,\n        \"ntippers\": 1088,\n        \"ntransfers\": 3260,\n        \"transfer_volume\": 5768.64,\n        \"ts_end\": [...]
