{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://gratipay.com/about/paydays.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gratipay-Version": [
            "17.1.3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[\n    {\n        \"ach_fees_volume\": 0.00,\n        \"ach_volume\": -7024.35,\n        \"charge_fees_volume\": 484.42,\n        \"charge_volume\": 11431.88,\n        \"nachs\": 118,\n        \"nactive\": 2946,\n        \"ncc_failing\": 444,\n        \"ncc_missing\": 1920,\n        \"ncharges\": 507,\n        \"nparticipants\": 34436,\n        \"ntippers\": 1839,\n        \"ntransfers\": 5495,\n        \"transfer_volume\": 13289.28,\n        \"ts_end\": \"2014-10-09T16:44:03.548900+00:00\",\n        \"ts_start\": \"2014-10-09T15:50:08.180197+00:00\"\n    },\n    {\n        \"ach_fees_volume\": 0.00,\n        \"ach_volume\": -7474.18,\n        \"charge_fees_volume\": 477.93,\n        \"charge_volume\": 11446.52,\n        \"nachs\": 112,\n        \"nactive\": 2936,\n        \"ncc_failing\": 427,\n        \"ncc_missing\": 1903,\n        \"ncharges\": 484,\n        \"nparticipants\": 34206,\n        \"ntippers\": 1834,\n        \"ntransfers\": 5518,\n        \"transfer_volume\": 13485.29,\n        \"ts_end\[...]
