{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/non_existing_user/public.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 406,
          "message": "Not Acceptable"
        },
        "headers": {
        },
        "body": {
          "encoding": "UTF-8",
          "string": "The following media types are available: text/html."
        },
      },
      "recorded_at": "Tue, 29 Apr 2014 02:12:44 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/JohnKellyFerguson/public.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.6.1"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"avatar\": \"https://avatars.githubusercontent.com/u/2823694?s=128\",\n    \"bitcoin\": \"http://blockchain.info/address/1HMaJmtuvbWh6fsY8VG6xeVjoJdEHQgJsd\",\n    \"elsewhere\": {\n        \"bitbucket\": {\n            \"id\": 441196,\n            \"user_id\": \"jkf\",\n            \"user_name\": \"jkf\"\n        },\n        \"bountysource\": {\n            \"id\": 441197,\n            \"user_id\": \"21486\",\n            \"user_name\": \"JohnKellyFerguson\"\n        },\n        \"github\": {\n            \"id\": 56248,\n            \"user_id\": \"2823694\",\n            \"user_name\": \"JohnKellyFerguson\"\n        },\n        \"openstreetmap\": {\n            \"id\": 441199,\n            \"user_id\": \"2008394\",\n            \"user_name\": \"johnkferguson\"\n        },\n        \"twitter\": {\n            \"id\": 56249,\n            \"user_id\": \"954373436\",\n            \"user_name\": \"johnkferguson\"\n        },\n        \"venmo\": {\n            \"id\": 441198,\n            \"user_id\": \"1292194388377600087\",\n            \"user_name\": \"johnkferguson\"\n        }\n    },\n    \"giving\": null,\n    \"goal\": \"5.00\",\n    \"id\": 15885,\n    \"npatrons\": 0,\n    \"number\": \"singular\",\n    \"on\": \"gittip\",\n    \"receiving\": \"0.00\",\n    \"username\": \"JohnKellyFerguson\"\n}"
        },
      },
      "recorded_at": "Tue, 29 Apr 2014 02:12:45 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/gratitude_test/public.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.6.1"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"avatar\": \"https://abs.twimg.com/sticky/default_profile_images/default_profile_3.png\",\n    \"elsewhere\": {\n        \"twitter\": {\n            \"id\": 256293,\n            \"user_id\": \"1865385980\",\n            \"user_name\": \"gratitude_test\"\n        }\n    },\n    \"giving\": \"1.25\",\n    \"id\": 196181,\n    \"npatrons\": 0,\n    \"number\": \"singular\",\n    \"on\": \"gittip\",\n    \"receiving\": \"0.00\",\n    \"username\": \"gratitude_test\"\n}"
        },
      },
      "recorded_at": "Tue, 29 Apr 2014 02:12:48 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/goya/public.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.6.1"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"avatar\": \"https://www.gravatar.com/avatar/78cd75a0a67b97af278f6d42cc4c1f58?s=128\",\n    \"elsewhere\": {\n        \"github\": {\n            \"id\": 326508,\n            \"user_id\": \"208774\",\n            \"user_name\": \"goya\"\n        }\n    },\n    \"giving\": \"0.00\",\n    \"goal\": null,\n    \"id\": 266397,\n    \"npatrons\": 0,\n    \"number\": \"singular\",\n    \"on\": \"gittip\",\n    \"receiving\": \"0.00\",\n    \"username\": \"goya\"\n}"
        },
      },
      "recorded_at": "Tue, 29 Apr 2014 02:12:49 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.0"
}