{"http_interactions":[{"request":{"method":"get","uri":"https://gratipay.com/non_existing_user/public.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":406,"message":"Not Acceptable"},"headers":{},"body":{"encoding":"UTF-8","string":"The following media types are available: text/html."},"http_version":null},"recorded_at":"Mon, 13 Oct 2014 05:21:01 GMT"},{"request":{"method":"get","uri":"https://gratipay.com/JohnKellyFerguson/public.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Language":["en"], "Content-Type":["application/json"], "X-Gratipay-Version":["17.1.3"]},"body":{"encoding":"UTF-8","string":"{\n    \"avatar\": \"https://avatars.githubusercontent.com/u/2823694?s=128\",\n    \"bitcoin\": \"https://blockchain.info/address/1HMaJmtuvbWh6fsY8VG6xeVjoJdEHQgJsd\",\n    \"elsewhere\": {\n        \"bitbucket\": {\n            \"id\": 441196,\n            \"user_id\": \"jkf\",\n            \"user_name\": \"jkf\"\n        },\n        \"bountysource\": {\n            \"id\": 441197,\n            \"user_id\": \"21486\",\n            \"user_name\": null\n        },\n        \"github\": {\n            \"id\": 56248,\n            \"user_id\": \"2823694\",\n            \"user_name\": \"JohnKellyFerguson\"\n        },\n        \"openstreetmap\": {\n            \"id\": 441199,\n            \"user_id\": \"2008394\",\n            \"user_name\": \"johnkferguson\"\n        },\n        \"twitter\": {\n            \"id\": 56249,\n            \"user_id\": \"954373436\",\n            \"user_name\": \"johnkferguson\"\n        },\n        \"venmo\": {\n            \"id\": 441198,\n            \"user_id\": \"1292194388377600087\",\n            \"user_name\": \"johnkferguson\"\n        }\n    },\n    \"giving\": null,\n    \"goal\": \"5.00\",\n    \"id\": 15885,\n    \"npatrons\": 0,\n    \"number\": \"singular\",\n    \"on\": \"gratipay\",\n    \"receiving\": \"0.00\",\n    \"username\": \"JohnKellyFerguson\"\n}"},"http_version":null},"recorded_at":"Mon, 13 Oct 2014 05:21:01 GMT"},{"request":{"method":"get","uri":"https://gratipay.com/gratitude_test/public.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Language":["en"], "Content-Type":["application/json"], "X-Gratipay-Version":["17.1.3"]},"body":{"encoding":"UTF-8","string":"{\n    \"avatar\": \"https://abs.twimg.com/sticky/default_profile_images/default_profile_3.png\",\n    \"elsewhere\": {\n        \"twitter\": {\n            \"id\": 256293,\n            \"user_id\": \"1865385980\",\n            \"user_name\": \"gratitude_test\"\n        }\n    },\n    \"giving\": \"0.00\",\n    \"id\": 196181,\n    \"npatrons\": 0,\n    \"number\": \"singular\",\n    \"on\": \"gratipay\",\n    \"receiving\": \"0.00\",\n    \"username\": \"gratitude_test\"\n}"},"http_version":null},"recorded_at":"Mon, 13 Oct 2014 05:21:01 GMT"},{"request":{"method":"get","uri":"https://gratipay.com/goya/public.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Language":["en"], "Content-Type":["application/json"], "X-Gratipay-Version":["17.1.3"]},"body":{"encoding":"UTF-8","string":"{\n    \"avatar\": \"https://www.gravatar.com/avatar/78cd75a0a67b97af278f6d42cc4c1f58?s=128\",\n    \"elsewhere\": {\n        \"github\": {\n            \"id\": 326508,\n            \"user_id\": \"208774\",\n            \"user_name\": \"goya\"\n        }\n    },\n    \"giving\": \"0.00\",\n    \"goal\": null,\n    \"id\": 266397,\n    \"npatrons\": 0,\n    \"number\": \"singular\",\n    \"on\": \"gratipay\",\n    \"receiving\": \"0.00\",\n    \"username\": \"goya\"\n}"},"http_version":null},"recorded_at":"Mon, 13 Oct 2014 05:21:02 GMT"}],"recorded_with":"VCR 2.9.2"}