{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/about/stats.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Location": [
            "https://gratipay.com/about/stats.json"
          ],
          "X-Gratipay-Version": [
            "17.1.3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Mon, 13 Oct 2014 03:54:02 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.gratipay.com/about/stats.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 302,
          "message": "Found"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Location": [
            "https://gratipay.com/about/stats.json"
          ],
          "X-Gratipay-Version": [
            "17.1.3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": ""
        },
      },
      "recorded_at": "Mon, 13 Oct 2014 03:58:20 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://gratipay.com/about/stats.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gratipay-Version": [
            "17.1.3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"average_tip\": 2.3776441671393458,\n    \"average_tippees\": 3,\n    \"escrow\": 145294.71,\n    \"last_thursday\": \"last Thursday\",\n    \"nach\": \"663\",\n    \"nactive\": 2946,\n    \"ncc\": 2811,\n    \"ngivers\": 1839,\n    \"noverlap\": 497,\n    \"nreceivers\": 1604,\n    \"other_people\": \"three other people\",\n    \"pcc\": \"  8.1\",\n    \"punc\": \".\",\n    \"statements\": [\n        {\n            \"statement\": \"creating Nikola, the Static Site and Blog Generator.\",\n            \"username\": \"GetNikola\"\n        },\n        {\n            \"statement\": \"providing free code you can use in your projects.\",\n            \"username\": \"mdinacci\"\n        },\n        {\n            \"statement\": \"creating what I can, when I can.\",\n            \"username\": \"wpears\"\n        },\n        {\n            \"statement\": \"contributing to open source software on the Windows platform including Albacore, Chocolatey, and MSpec. Thanks!\",\n            \"username\": \"AnthonyMastrean[...]
