{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/about/stats.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.6.1"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"average_tip\": 1.6099961948249619,\n    \"average_tippees\": 3,\n    \"escrow\": 99643.85,\n    \"last_thursday\": \"last Thursday\",\n    \"nach\": \"541\",\n    \"nactive\": 2758,\n    \"ncc\": 2443,\n    \"ngivers\": 1735,\n    \"noverlap\": 456,\n    \"nreceivers\": 1479,\n    \"other_people\": \"three other people\",\n    \"pcc\": \"  8.4\",\n    \"punc\": \".\",\n    \"statements\": [\n        {\n            \"statement\": \"contributing to the world's best CMS (http://plone.org) making it easy to deploy open source Python apps on IIS (http://github.com/rpatterson/iiswsgi) without any other commercial software, and other open source Python web stuff.\",\n            \"username\": \"rpatterson\"\n        },\n        {\n            \"statement\": \" creating fresh Wordpress themes\",\n            \"username\": \"cristiancazacu\"\n        },\n        {\n            \"statement\": \"building better Distributed Systems and educating people as to how they can too!\",\n            \"username\": \"lenary\"\n        },\n        {\n            \"statement\": \"writing tiny Ruby projects\",\n            \"username\": \"awendt\"\n        },\n        {\n            \"statement\": \"[...]
