{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/about/stats.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.2.2"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"average_tip\": 1.5877365930599369,\n    \"average_tippees\": 3,\n    \"escrow\": 92745.39,\n    \"last_thursday\": \"this past Thursday\",\n    \"nach\": \"512\",\n    \"nactive\": 2696,\n    \"ncc\": 2310,\n    \"ngivers\": 1671,\n    \"noverlap\": 441,\n    \"nreceivers\": 1466,\n    \"other_people\": \"three other people\",\n    \"pcc\": \"  8.3\",\n    \"punc\": \".\",\n    \"statements\": [\n        {\n            \"statement\": \"creating an open coworking space in Pittsburgh. The ultimate funding goal is for Catapult PGH to one day be completely donation based. The current funding goal is to make enough to cover drinks for our First Friday events.\\n\\nCheck out the site at http://catapultpgh.org\",\n            \"username\": \"catapultpgh\"\n        },\n        {\n            \"statement\": \"developing beautiful software.\",\n            \"username\": \"teknikqa\"\n        },\n        {\n            \"statement\": \"Contributing to projects that makes life easier for people\",\n            \"username\": \"nix85\"\n        },\n        {\n            \"statement\": \"improving/developing Blender (open-source graphics applications).\",\n            \"username\": \"ideasman42\"\n        },\n        {\n            \"st[...]
[...]
