{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://gratipay.com/about/stats.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gratipay-Version": [
            "17.1.3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"average_tip\": 2.3994515885022693,\n    \"average_tippees\": 3,\n    \"escrow\": 145294.71,\n    \"last_thursday\": \"last Thursday\",\n    \"nach\": \"663\",\n    \"nactive\": 2946,\n    \"ncc\": 2818,\n    \"ngivers\": 1839,\n    \"noverlap\": 497,\n    \"nreceivers\": 1604,\n    \"other_people\": \"three other people\",\n    \"pcc\": \"  8.1\",\n    \"punc\": \".\",\n    \"statements\": [\n        {\n            \"statement\": \"making it nearer to others\",\n            \"username\": \"boobaloo\"\n        },\n        {\n            \"statement\": \" \",\n            \"username\": \"digicyc\"\n        },\n        {\n            \"statement\": \"Pushing open-source development forward.\",\n            \"username\": \"rstacruz\"\n        },\n        {\n            \"statement\": \"contributing with open source apps and writing technical stuff at http://blog.heitorsilva.com/ to help other programmers go on with their work and lifes.\",\n            \"username\": \"heitorsilva\"[...]
