{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/about/stats.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.11.2"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"average_tip\": 1.5750018026679486,\n    \"average_tippees\": 3,\n    \"escrow\": 106217.32,\n    \"last_thursday\": \"this past Thursday\",\n    \"nach\": \"557\",\n    \"nactive\": 2887,\n    \"ncc\": 2523,\n    \"ngivers\": 1815,\n    \"noverlap\": 474,\n    \"nreceivers\": 1546,\n    \"other_people\": \"three other people\",\n    \"pcc\": \"  8.4\",\n    \"punc\": \".\",\n    \"statements\": [\n        {\n            \"statement\": \"helping others contribute to Drupal core.\\n\\nI'm the founder of the Drupal core contribution mentoring program, one of the Views in Drupal Core initiative leads, and a top contributor to Drupal 8. \\n\\nI am fortunate enough to be paid full time by Acquia to nurture Drupal. Numerous people I rely on daily don't have this privilege. Anything you give me will go on to those people, whether through this site or to help fund their travel for contribution events.\\n\\nSupport Drupal core development:\\nhttps://www.gittip.com/DrupalCoreGittipTeam/\",\n            \"username\": \"xjm\"\n        },\n        {\n            \"statement\": \"giving at least 10% of my income to the world's most cost-effective charities that help the very worst off.\",\n            \"username\": \"whyboris\"\n        },\n        {\n            \"statement\": \"helping SME's and NGO's maximise their online marketing potential for a fraction of the price of many so called #gurus\",\n            \"username\": \"klaptrap\"\n        },\n        {\n            \"statement\": \"Teaching coding ski[...]
