{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/about/stats.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {

        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "10.1.21"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"average_tip\": 1.2348237280979523,\n    \"average_tippees\": 3,\n    \"escrow\": 50441.17,\n    \"last_thursday\": \"last Thursday\",\n    \"nach\": \"299\",\n    \"nactive\": 1719,\n    \"ncc\": 1496,\n    \"ngivers\": 1113,\n    \"noverlap\": 301,\n    \"nreceivers\": 907,\n    \"other_people\": \"three other people\",\n    \"pcc\": \"  7.6\",\n    \"punc\": \".\",\n    \"statements\": [\n        {\n            \"statement\": \"hacking around and having fun building things.\",\n            \"username\": \"cfontes\"\n        },\n        {\n            \"statement\": \"making the world better by thinking.\",\n            \"username\": \"inanisryoo\"\n        },\n        {\n            \"statement\": \"working on open-source software for the web. I created the messaging library Faye, the password manager Vault and a bunch more besides.\",\n            \"username\": \"jcoglan\"\n        },\n        {\n            \"statement\": \"maintaining various Ruby open-source projects (rails_admin, twitter,[...]
