{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.gittip.com/non_existing_user/charts.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gittip-Version": [
            "12.6.1"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[]"
        },
      },
      "recorded_at": "Sat, 26 Apr 2014 02:44:23 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.0"
}