{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://gratipay.com/non_existing_user/charts.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gratipay-Version": [
            "17.1.3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[]"
        },
      },
      "recorded_at": "Mon, 13 Oct 2014 21:02:25 GMT"
    }
  ],
  "recorded_with": "VCR 2.9.2"
}
