{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://gratipay.com/Gratipay/charts.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          "X-Gratipay-Version": [
            "17.1.3"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "[\n    {\n        \"date\": \"2014-10-09\",\n        \"npatrons\": 367,\n        \"receipts\": 566.74\n    },\n    {\n        \"date\": \"2014-10-02\",\n        \"npatrons\": 351,\n        \"receipts\": 579.93\n    },\n    {\n        \"date\": \"2014-09-25\",\n        \"npatrons\": 334,\n        \"receipts\": 571.51\n    },\n    {\n        \"date\": \"2014-09-18\",\n        \"npatrons\": 313,\n        \"receipts\": 540.01\n    },\n    {\n        \"date\": \"2014-09-11\",\n        \"npatrons\": 297,\n        \"receipts\": 545.61\n    },\n    {\n        \"date\": \"2014-09-04\",\n        \[...]
    {
      "request": {
        "method": "get",
        "uri": "https://gratipay.com/whit537/charts.json",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Language": [
            "en"
          ],
          "Content-Type": [
            "application/json"
          ],
          [...]
